on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-18.04
    container:
      image: golang:1.11
    steps:
      - uses: actions/checkout@v2

      - name: 'Run GoReleaser'
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
        uses: goreleaser/goreleaser-action@v1
